<!DOCTYPE html>
<html>
<head></head>
<body>
<h1>PEILoad</h1>
{{title}}
<h2>Routes:</h2>
<ul>
    <li>/</li>
    <li>/api</li>
    <ul>
        <li>/api/sensor1</li>
        <ul>
            <li>:GET</li>
            <li>:POST</li>
        </ul>

        <li>/api/sensor2</li>
        <ul>
            <li>:GET</li>
            <li>:POST</li>
        </ul>
    </ul>
</ul>
</body>
</html>
